@model GymPower.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label fw-bold">Кратко описание</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            
             <div class="form-group mb-3">
                <label asp-for="LongDescription" class="control-label fw-bold">Детайлно описание (Long)</label>
                <textarea asp-for="LongDescription" class="form-control" rows="5"></textarea>
                <span asp-validation-for="LongDescription" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Price" class="control-label fw-bold">Цена</label>
                <input asp-for="Price" class="form-control" type="text" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <label class="control-label fw-bold">Основна снимка (Качи файл)</label>
                <input type="file" name="MainImageFile" class="form-control" accept="image/*" />
            </div>

            <div class="form-group mb-3">
                <label class="control-label fw-bold">Допълнителни снимки за галерията (Избери множество файлове)</label>
                <input type="file" name="ExtraImageFiles" class="form-control" accept="image/*" multiple />
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsRecommendedForMassGain" /> @Html.DisplayNameFor(model => model.IsRecommendedForMassGain)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsRecommendedForWeightLoss" /> @Html.DisplayNameFor(model => model.IsRecommendedForWeightLoss)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsRecommendedForMaintenance" /> @Html.DisplayNameFor(model => model.IsRecommendedForMaintenance)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="StockQuantity" class="control-label"></label>
                <input asp-for="StockQuantity" class="form-control" />
                <span asp-validation-for="StockQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


